/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Raleway Bold'), local('Raleway-Bold'),
    url('../fonts/raleway-v16-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/raleway-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-hero-color: #ffffff;
  --title-color: #212121;
  --navigation-color: #212121;
  --accent-color: #2196f3;
  --background-main-color: #ffffff;
  --background-secondary-color: #f5f4fa;
  --background-footer-color: #2f303a;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--background-main-color);
  font-family: var(--main-font);
  color: var(--primary-text-color);
}

/* Универсальные */
.link {
  display: block;
  text-decoration: none;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.address {
  font-style: normal;
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  outline: 2px solid turquoise;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

/* Логотип в шапке */
.logo {
  margin-right: 85px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-accent {
  color: var(--accent-color);
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.logo-accent:hover,
.logo-accent:focus {
  color: #000000;
}

/* Шапка сайта */
.header > .container,
.navigation,
.navigation-list {
  display: flex;
  align-items: center;
}
.navigation-list-item:not(:last-child),
.header-address-list-item:not(:last-child) {
  margin-right: 50px;
}
.header-address-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.navigation-list-item .link,
.header-address-list-item .link {
  padding-top: 32px;
  padding-bottom: 32px;
}
.navigation-list-item-link,
.header-address-list-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--navigation-color);
}
.navigation-list-item-link:hover,
.navigation-list-item-link:focus,
.header-address-list-item-link:hover,
.header-address-list-item-link:focus {
  color: var(--accent-color);
}
.header-address-list-item-link {
  color: var(--primary-text-color);
}
.navigation-list-item-link.current {
  color: var(--accent-color);
}

/* Секция Герой */
.hero {
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}
.hero > .container {
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-hero-color);
}
.hero .modal-btn {
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #188ce8;
}

/* Особенности */
.features-list-item-img {
  background-color: var(--background-secondary-color);
}
.features-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.features-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Деятельность */
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.activity-list-item-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Команда */
.team {
  background-color: var(--background-secondary-color);
}
.team-list-item {
  background-color: var(--background-main-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.team-list-item-name,
.team-list-item-position {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.team-list-item-position {
  font-weight: 400;
  color: var(--primary-text-color);
}
.social-list-item-link {
  background-color: var(--background-main-color);
}
.social-list-item-link:hover,
.social-list-item-link:focus {
  background-color: var(--accent-color);
}

/* Постоянные клиенты */

/* Логотип в подвале */
.footer-address-container .logo {
  color: #ffffff;
}
.footer-address-container .logo:hover,
.footer-address-container .logo:focus {
  color: var(--accent-color);
}
.footer-address-container .logo-accent:hover,
.footer-address-container .logo-accent:focus {
  color: #ffffff;
}

/* Подвал */
.footer {
  background-color: var(--background-footer-color);
}
.footer-address-list-item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-address-list-item-link.location {
  color: var(--secondary-text-color);
}
.footer-address-list-item-link:hover,
.footer-address-list-item-link:focus {
  color: var(--accent-color);
}
.footer-social-list-container .text,
.footer-form-container .text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.footer .social-list-item-link {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer .social-list-item-link:hover,
.footer .social-list-item-link:focus {
  background-color: var(--accent-color);
}

/* Портфолио */
.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--navigation-color);
  background-color: var(--background-secondary-color);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}
.portfolio-list-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.portfolio-list-item-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.portfolio-list-item-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: rgba(33, 150, 243, 0.9);
}
.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

/* Raleway bold 700
Roboto medium 500
Roboto black 900
Roboto bold 700
Roboto regular 400
*/

/* +цвет основного текста #757575 */
/* +цвет заголовка и навигации #212121 */
/* +цвет текста белый #FFFFFF */
/* цвет текста логотипа #000000 */
/* +акцент #2196F3 */
/* цвет ховера кнопок #188CE8 */
/* +основной цвет фона #FFFFFF */
/* +вторичный цвет фона #F5F4FA */
/* +цвет фона в футере #2F303A */
/* цвет ссылок в футере rgba(255, 255, 255, 0.6) */
/* цвет фона в секции деятельность rgba(47, 48, 58, 0.8) */
/* цвет иконок #AFB1B8 */
/* background иконок в футере background: rgba(255, 255, 255, 0.1) */
